/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-oct-2016, 19:32:14
    Author     : danielpuig
*/

tablero {
    margin: 0 auto;
}

.row>div {
    width: 150px;
    height: 150px;
    border: solid;
    background-color: #4179aa;
    display: inline-block;
}

#ficha_seleccionada {
    width: 150px;
    height: 150px;
    border: solid;
}